/.classpath
/.factorypath
/.project
/.settings
/.gradle
/.idea
/target
/build
/bin
/out
/_directio_temp
/directio/result
/workspace/asakusa
/workspace/lib
*.log
*.iml
*.ipr
*.iws
*.swp
.*.crc
.DS_Store
